html {
    background: #FFF;
    color: #333;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif;
}

.logo {
    float: right;
}

label {
    min-width: 50px;
    display: inline-block;
    line-height: 15px;
    font-size: 11pt;
}

.input {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    width: 450px;
}

.description {
    height: 250px;
}
