label {
    color: #555555;
    display: inline-block;
    width: 75px;
}

div {
    margin-bottom: 5px;
}

.description {
    white-space: pre-wrap;
    margin-left: 15px;
}

.back {
    margin-top: 15px;
}
