<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011 IBM Corporation.
   
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    and Eclipse Distribution License v. 1.0 which accompanies this distribution. 
   
    The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
    and the Eclipse Distribution License is available at 
    http://www.eclipse.org/org/documents/edl-v10.php.
   
    Contributors:
   
       Jim Conallen - initial API and implementation
 -->


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>org.eclipse.lyo.oslc.am</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--  OSLC service provider document services-->
  <servlet>
    <description>Provides Catalog of Services</description>
    <display-name>CatalogService</display-name>
    <servlet-name>CatalogService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.CatalogService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogService</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceProviderService</display-name>
    <servlet-name>ServiceProviderService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.ServiceProviderService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceProviderService</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  
  <!-- OSLC Resource Management Services -->
  <servlet>
    <description></description>
    <display-name>ResourceCompactService</display-name>
    <servlet-name>ResourceCompactService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceCompactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceCompactService</servlet-name>
    <url-pattern>/compact/resource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceSourceService</display-name>
    <servlet-name>ResourceSourceService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceSourceService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceSourceService</servlet-name>
    <url-pattern>/source/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceService</display-name>
    <servlet-name>ResourceService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceService</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTypeCompactService</display-name>
    <servlet-name>LinkTypeCompactService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.linktype.LinkTypeCompactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTypeCompactService</servlet-name>
    <url-pattern>/compact/linktype</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTypeService</display-name>
    <servlet-name>LinkTypeService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.linktype.LinkTypeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTypeService</servlet-name>
    <url-pattern>/linktype/*</url-pattern>
  </servlet-mapping>

  <!-- OSLC Delegated Resource Services -->
  <servlet>
    <description></description>
    <display-name>ResourceSelectorService</display-name>
    <servlet-name>ResourceSelectorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceSelectorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceSelectorService</servlet-name>
    <url-pattern>/selector/resource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceCreatorService</display-name>
    <servlet-name>ResourceCreatorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceCreatorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceCreatorService</servlet-name>
    <url-pattern>/creator/resource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTypeSelectorService</display-name>
    <servlet-name>LinkTypeSelectorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.linktype.LinkTypeSelectorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTypeSelectorService</servlet-name>
    <url-pattern>/selector/linktype</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkTypeCreatorService</display-name>
    <servlet-name>LinkTypeCreatorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.linktype.LinkTypeCreatorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkTypeCreatorService</servlet-name>
    <url-pattern>/creator/linktype</url-pattern>
  </servlet-mapping>

  <!--  RIO web UI Services -->
  <servlet>
    <description></description>
    <display-name>ResourceListService</display-name>
    <servlet-name>ResourceListService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.resource.ResourceListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceListService</servlet-name>
    <url-pattern>/list/resource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceGeneratorService</display-name>
    <servlet-name>ResourceGeneratorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.web.ResourceGeneratorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceGeneratorService</servlet-name>
    <url-pattern>/generate/resource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceWebService</display-name>
    <servlet-name>ResourceWebService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.am.web.ResourceWebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceWebService</servlet-name>
    <url-pattern>/web/resource</url-pattern>
  </servlet-mapping>
  
  <!--  RIO Admin/Utility services -->
  
  <servlet>
    <description></description>
    <display-name>SetupService</display-name>
    <servlet-name>SetupService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.SetupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupService</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Dumps entire repository</description>
    <display-name>DumpService</display-name>
    <servlet-name>DumpService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.DumpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpService</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Wipes out entire store </description>
    <display-name>CleaningService</display-name>
    <servlet-name>CleaningService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.CleaningService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleaningService</servlet-name>
    <url-pattern>/clean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SparqlQueryService</display-name>
    <servlet-name>SparqlQueryService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.SparqlQueryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SparqlQueryService</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Edit generic resource</description>
    <display-name>EditService</display-name>
    <servlet-name>EditService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.EditService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditService</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>org.eclipse.lyo.rio.store.ShutdownListener</listener-class>
  </listener>


</web-app>