<?xml version="1.0" encoding="UTF-8"?>

<!-- Licensed Materials - Use restricted, please refer to the "Samples Gallery" terms and conditions in the IBM International Program License Agreement (IPLA). -->
<!-- © Copyright IBM Corporation 2012. All Rights Reserved. -->
<!-- U.S. Government Users Restricted Rights: Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TRS Test App</display-name>
      
  <servlet>
    <servlet-name>JAX-RS Services</servlet-name>
    <servlet-class>
	    org.apache.wink.server.internal.servlet.RestServlet
	</servlet-class>
    <init-param>
      <param-name>applicationConfigLocation</param-name>
      <param-value>/WEB-INF/providers;/WEB-INF/resources</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>Generic TRS</servlet-name>
    <servlet-class>
	    org.eclipse.lyo.rio.trs.servlet.TRSGeneric
	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Generic Base</servlet-name>
    <servlet-class>
	    org.eclipse.lyo.rio.trs.servlet.BaseGeneric
	</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Generic ChangeLog</servlet-name>
    <servlet-class>
	    org.eclipse.lyo.rio.trs.servlet.ChangeLogGeneric
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAX-RS Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Generic Base</servlet-name>
    <url-pattern>/restx/trs/base/*</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Generic TRS</servlet-name>
    <url-pattern>/restx/trs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Generic ChangeLog</servlet-name>
    <url-pattern>/restx/trs/changelog/*</url-pattern>
  </servlet-mapping>

</web-app>