<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011 IBM Corporation.
   
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    and Eclipse Distribution License v. 1.0 which accompanies this distribution. 
   
    The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
    and the Eclipse Distribution License is available at 
    http://www.eclipse.org/org/documents/edl-v10.php.
   
    Contributors:
   
       Jim Conallen - initial API and implementation
 -->


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>org.eclipse.lyo.oslc.cm</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--  OSLC service provider document services-->
  <servlet>
    <description>Provides Catalog of Services</description>
    <display-name>CatalogService</display-name>
    <servlet-name>CatalogService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.CatalogService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogService</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceProviderService</display-name>
    <servlet-name>ServiceProviderService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.ServiceProviderService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceProviderService</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  
  <!-- OSLC Resource Management Services -->
  <servlet>
    <description></description>
    <display-name>ChangeRequestService</display-name>
    <servlet-name>ChangeRequestService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestService</servlet-name>
    <url-pattern>/changerequest/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ChangeRequestQueryService</display-name>
    <servlet-name>ChangeRequestQueryService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestQueryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestQueryService</servlet-name>
    <url-pattern>/query/changerequest</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ChangeRequestCompactService</display-name>
    <servlet-name>ChangeRequestCompactService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestCompactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestCompactService</servlet-name>
    <url-pattern>/compact/changerequest</url-pattern>
  </servlet-mapping>
  
  
  <!-- OSLC Delegated UI services -->
  <servlet>
    <description></description>
    <display-name>ChangeRequestSelectorService</display-name>
    <servlet-name>ChangeRequestSelectorService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestSelectorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestSelectorService</servlet-name>
    <url-pattern>/selector/changerequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRequestCreatorService</display-name>
    <servlet-name>ChangeRequestCreatorService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestCreatorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestCreatorService</servlet-name>
    <url-pattern>/creator/changerequest</url-pattern>
  </servlet-mapping>
  
  <!-- Rio web UI services -->
  <servlet>
    <description></description>
    <display-name>ChangeRequestListService</display-name>
    <servlet-name>ChangeRequestListService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.changerequest.ChangeRequestListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestListService</servlet-name>
    <url-pattern>/list/changerequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRequestGeneratorService</display-name>
    <servlet-name>ChangeRequestGeneratorService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.web.ChangeRequestGeneratorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestGeneratorService</servlet-name>
    <url-pattern>/generate/changerequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRequestWebService</display-name>
    <servlet-name>ChangeRequestWebService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.cm.web.ChangeRequestWebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRequestWebService</servlet-name>
    <url-pattern>/web/changerequest</url-pattern>
  </servlet-mapping>
  
  <!--  RIO Utility services -->
  <servlet>
    <description></description>
    <display-name>SetupService</display-name>
    <servlet-name>SetupService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.SetupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupService</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Dumps entire repository</description>
    <display-name>DumpService</display-name>
    <servlet-name>DumpService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.DumpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpService</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Wipes out entire store </description>
    <display-name>CleaningService</display-name>
    <servlet-name>CleaningService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.CleaningService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleaningService</servlet-name>
    <url-pattern>/clean</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.eclipse.lyo.rio.store.ShutdownListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SparqlQueryService</display-name>
    <servlet-name>SparqlQueryService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.SparqlQueryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SparqlQueryService</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersService</display-name>
    <servlet-name>UsersService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.UsersService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersService</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShapesService</display-name>
    <servlet-name>ShapesService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.ShapesService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShapesService</servlet-name>
    <url-pattern>/shapes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Edit generic resource</description>
    <display-name>EditService</display-name>
    <servlet-name>EditService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.EditService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditService</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>org.eclipse.lyo.rio.store.ShutdownListener</listener-class>
  </listener>
</web-app>