<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2011 IBM Corporation.
   
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    and Eclipse Distribution License v. 1.0 which accompanies this distribution. 
   
    The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
    and the Eclipse Distribution License is available at 
    http://www.eclipse.org/org/documents/edl-v10.php.
   
    Contributors:
   
       Jim Conallen - initial API and implementation
 -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>org.eclipse.lyo.oslc.rm</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--  OSLC service provider document services-->
  <servlet>
    <description>Provides Catalog of Services</description>
    <display-name>CatalogService</display-name>
    <servlet-name>CatalogService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.CatalogService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogService</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceProviderService</display-name>
    <servlet-name>ServiceProviderService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.ServiceProviderService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceProviderService</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  
  <!-- OSLC Resource Management Services -->
  
  <servlet>
    <description></description>
    <display-name>RequirementTcService</display-name>
    <servlet-name>RequirementTcService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirement.RequirementTcService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementTcService</servlet-name>
    <url-pattern>/requirement/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCompactService</display-name>
    <servlet-name>RequirementCompactService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirement.RequirementCompactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCompactService</servlet-name>
    <url-pattern>/compact/requirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCollectionCompactService</display-name>
    <servlet-name>RequirementCollectionCompactService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirementcollection.RequirementCollectionCompactService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCollectionCompactService</servlet-name>
    <url-pattern>/compact/reqcol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCollectionService</display-name>
    <servlet-name>RequirementCollectionService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirementcollection.RequirementCollectionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCollectionService</servlet-name>
    <url-pattern>/reqcol/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- OSLC Delegated Resource Services -->

  <servlet>
    <description></description>
    <display-name>RequirementSelectorService</display-name>
    <servlet-name>RequirementSelectorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirement.RequirementSelectorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementSelectorService</servlet-name>
    <url-pattern>/selector/requirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCreatorService</display-name>
    <servlet-name>RequirementCreatorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirement.RequirementCreatorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCreatorService</servlet-name>
    <url-pattern>/creator/requirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCollectionSelectorService</display-name>
    <servlet-name>RequirementCollectionSelectorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirementcollection.RequirementCollectionSelectorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCollectionSelectorService</servlet-name>
    <url-pattern>/selector/reqcol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementCollectionCreatorService</display-name>
    <servlet-name>RequirementCollectionCreatorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirementcollection.RequirementCollectionCreatorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementCollectionCreatorService</servlet-name>
    <url-pattern>/creator/reqcol</url-pattern>
  </servlet-mapping>

  <!--  RIO web UI Services -->
  
  <servlet>
    <description></description>
    <display-name>RequirementListService</display-name>
    <servlet-name>RequirementListService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.services.requirement.RequirementListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementListService</servlet-name>
    <url-pattern>/list/requirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceGeneratorService</display-name>
    <servlet-name>ResourceGeneratorService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.webservices.ResourceGeneratorService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceGeneratorService</servlet-name>
    <url-pattern>/generate/requirement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceWebService</display-name>
    <servlet-name>ResourceWebService</servlet-name>
    <servlet-class>org.eclipse.lyo.oslc.rm.webservices.ResourceWebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceWebService</servlet-name>
    <url-pattern>/web/requirement</url-pattern>
  </servlet-mapping>


  <!--  RIO Admin/Utility services -->
  
  <servlet>
    <description></description>
    <display-name>SetupService</display-name>
    <servlet-name>SetupService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.SetupService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupService</servlet-name>
    <url-pattern>/setup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Dumps entire repository</description>
    <display-name>DumpService</display-name>
    <servlet-name>DumpService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.DumpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpService</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Wipes out entire store </description>
    <display-name>CleaningService</display-name>
    <servlet-name>CleaningService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.CleaningService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleaningService</servlet-name>
    <url-pattern>/clean</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.eclipse.lyo.rio.store.ShutdownListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SparqlQueryService</display-name>
    <servlet-name>SparqlQueryService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.SparqlQueryService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SparqlQueryService</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersService</display-name>
    <servlet-name>UsersService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.UsersService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersService</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShapesService</display-name>
    <servlet-name>ShapesService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.common.ShapesService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShapesService</servlet-name>
    <url-pattern>/shapes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Edit generic resource</description>
    <display-name>EditService</display-name>
    <servlet-name>EditService</servlet-name>
    <servlet-class>org.eclipse.lyo.rio.services.util.EditService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditService</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
  
  <listener>
    <listener-class>org.eclipse.lyo.rio.store.ShutdownListener</listener-class>
  </listener>

  
</web-app>